.main-table{
	padding-top: 30px;
}
.table-button
{
	padding-bottom: 5px;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    
}

.modalDialog > div {
    width: 400px;
    height:280px; 
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    
    background: #fff;
}
.open-modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    
}

.open-modalDialog > div {
    width: 400px;
    height:210px; 
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    
    background: #fff;
}
a:-webkit-any-link
{
	text-decoration: none;
}
a
{
	color: rgb(0,0,0);
}
.popup-text
{
	padding-left: 40%;
	padding-top: 20px;
	font-size: 25px;

}
.popup-button
{
	padding-left: 60%;
	padding-top: 20px;
}

.tool-tips-add
{ 
	padding-left: 20px;

}
.mdl-data-table td
{
	text-align: left;
}
.mdl-button
{
	height: 32px;

}
.close
{
	color: rgb(255,255,255);
}
.popup-textfield
{
	padding-left: 40px;
	padding-top: 20px;
}
.second-popup-textfield
{
	padding-left: 40px;
	
}