.mdl-card
{
	width: 100%;
	margin-top: 5%;
}
.top-text
{
	padding-left: 45%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
}
.top-card
{
	display: flex;
}
.date-field
{
	padding-left: 20%;
	padding-bottom: 5%;
}
.top-card-text
{
	padding-left: 25%;
	padding-right: 28%;
	padding-bottom: 5%;
}
.button
{
	padding-left: 47%;
	padding-bottom: 20px;
}
.dropdown
{
    width: 145px;
}

.mdl-data-table
{
	padding-left: 15px;
}
.phone
{
	padding-left: 40px;
}