body
{
	background-image: url("18660.jpg");

    background-size: cover;

}
.mdl-card
{
	width: 100%;
	margin-top: 20%;
	background-image: url("moun.jpg");
	background-size: 100% 50%;
	background-repeat: no-repeat;

}
.top-icon
{
	padding-top: 230px;
	padding-right: 10px;
}
.icon-top
{
	float: right;
	
}
.icon-align
{
	
	display: flex;
}
.icon-bottom
{
	padding-left: 30px;
}
.mountain-imgs
{
	display: flex;
}
.moun-img
{
	width: 25%;
	height: 30%;
}