.phone-img
{
	width: 50%;

}
.phone-txt
{
	width: 50%;
	margin-top: 20%;
	padding-left: 40px;
}
.video-txt
{
	width: 50%;
	margin-top: 15%;
	padding-left: 40px;
}
.img-text-align
{
	display: flex;
	margin-bottom: 85px;
}
.video-align
{
	float: right;
	margin-top: 30%;
	width: 330px;


}
.button-align
{
	padding-top: 10%;
}
.mdl-button--raised.mdl-button--colored
{
	background: #424242;
}
main
{
	background-color: #AEEEEE;
}

.device-img
{
	float: right;
	margin-top: 20%;
	box-shadow: 5px 5px 10px;
	height: 400px;

}
.phone-top-txt
{
	font-weight: bold;
	font-size: 25px;
}
.phone-bottom-txt
{
	padding-top: 25px;
	width: 45%;

}
.mdl-mini-footer
{
	padding: 5px;
	

}
.android-header
{
	background-color: #424242;
	
}
.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}
 .android-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }
.mdl-textfield--expandable {
  width: auto;
}
.android-header .material-icons {
    color: #767777 !important;
  }
.android-link .material-icons {
    position: relative;
    top: 6px;
  }
.android-alt-link .material-icons {
    position: relative;
    top: 6px;
  }
  .android-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }
  

