.icons-float{
	float: right;

}
.mdl-card{
	width: 100%;	
		font-size: 12px;
}

.top-bar
{
	float: right;
}
.top-bar-left
{
	padding-left: 10px;
	float: left;
}
.material-icons
{
	padding-top: 5px;
}
.image
{
	margin : 10px;
}
.top-text{
	display: inline-block;
}
.link-text
{
	margin: 20px;
}

